<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.CustomerInfoMapper">    

	<select id="findByName" resultType="com.crm.model.Customer">
		select t.id,t.name,t.address,t.zipcode,t.fax from customer t where t.name like concat('%',#{customername},'%')
	</select>
	
	<select id="getCustomerById" resultType="com.crm.model.Customer">
		select t.id,t.name,t.address,t.zipcode,t.fax from customer t where t.id=#{id}
	</select> 
	
	<select id="getDatagridTotal" resultType="long">
		select count(1) from customer_info c JOIN sysuser u ON c.username_id = u.id where  1=1
		<if test="userName!=null and userName!=''">
			AND u.username LIKE concat(concat('%',#{userName}),'%')
		</if>
		<if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="district_id!=0">
			AND c.district_id =#{district_id}
		</if>
		<if test="username_id!=0">
			AND c.username_id =#{username_id}
		</if>
        and c.isdelete=0
	</select>

	<select id="datagridCustomerInfo" resultType="com.crm.pojo.CustomerInfoPojo">
		SELECT c.*,d.dictName districtName,u.username userName FROM customer_info c  LEFT JOIN district d ON c.district_id = d.id LEFT JOIN sysuser u ON c.username_id = u.id  WHERE c.isdelete=0
		<if test="customer.userName!=null and customer.userName!=''">
			AND userName LIKE concat(concat('%',#{customer.userName}),'%')
		</if>
		<if test="customer.name!=null and customer.name!=''">
			AND c.name LIKE concat(concat('%',#{customer.name}),'%')
		</if>
		<if test="customer.district_id!=0">
			AND c.district_id =#{customer.district_id}
		</if>
		<if test="customer.username_id!=0">
			AND c.username_id =#{customer.username_id}
		</if>
<!-- 		<if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if> -->
         order by datetime desc
        <if test="page.page > 0">
            limit #{page.start},#{page.end}
        </if>
        
	</select>
	
	<insert id="addCustomerInfo" useGeneratedKeys="true" keyProperty="id">
		insert into customer_info(<trim suffixOverrides=",">
            <if test="name !=null and name !=''">name,</if>
            <if test="telephone !=null and telephone !=''">telephone,</if>
            <if test="address !=null and address !=''">address,</if>
            <if test="iscompute !=null and iscompute !=''">iscompute,</if>
            <if test="broadband !=null and broadband !=''">broadband,</if>
            <if test="broadbandSatisfy !=null and broadbandSatisfy !=''">broadbandSatisfy,</if>
            <if test="isBroadbandFusion !=null and isBroadbandFusion !=''">isBroadbandFusion,</if>
            <if test="broadbandPrice !=null and broadbandPrice !=''">broadbandPrice,</if>
            <if test="broadbandEndTime !=null and broadbandEndTime !=''">broadbandEndTime,</if>
            <if test="tv !=null and tv !=''">tv,</if>
            <if test="tvSatisfy !=null and tvSatisfy !=''">tvSatisfy,</if>
            <if test="tvPrice !=null and tvPrice !=''">tvPrice,</if>
            <if test="tvEndTime !=null and tvEndTime !=''">tvEndTime,</if>
            <if test="district_id !=null and district_id !=''">district_id,</if>
            <if test="username_id !=null and username_id !=''">username_id,</if>
            <if test="datetime !=null and datetime !=''">datetime</if>
            </trim>)values(<trim suffixOverrides=",">
            <if test="name !=null and name !=''">#{name},</if>
            <if test="telephone !=null and telephone !=''">#{telephone},</if>
            <if test="address !=null and address !=''">#{address},</if>
            <if test="iscompute !=null and iscompute !=''">#{iscompute},</if>
            <if test="broadband !=null and broadband !=''">#{broadband},</if>
            <if test="broadbandSatisfy !=null and broadbandSatisfy !=''">#{broadbandSatisfy},</if>
            <if test="isBroadbandFusion !=null and isBroadbandFusion !=''">#{isBroadbandFusion},</if>
            <if test="broadbandPrice !=null and broadbandPrice !=''">#{broadbandPrice},</if>
            <if test="broadbandEndTime !=null and broadbandEndTime !=''">#{broadbandEndTime},</if>
            <if test="tv !=null and tv !=''">#{tv},</if>
            <if test="tvSatisfy !=null and tvSatisfy !=''">#{tvSatisfy},</if>
            <if test="tvPrice !=null and tvPrice !=''">#{tvPrice},</if>
            <if test="tvEndTime !=null and tvEndTime !=''">#{tvEndTime},</if>
            <if test="district_id !=null and district_id !=''">#{district_id},</if>
            <if test="username_id !=null and username_id !=''">#{username_id},</if>
            <if test="datetime !=null and datetime !=''">#{datetime}</if>
            </trim>)
	</insert>
	
    <update id="editCustomerInfo">
    	update customer_info
    	<set>
    		<trim suffixOverrides=",">	            
		        <if test="name !=null and name !=''">name=#{name},</if>
	            <if test="telephone !=null and telephone !=''">telephone=#{telephone},</if>
	            <if test="address !=null and address !=''">address=#{address},</if>
	            iscompute=#{iscompute},
	            <if test="broadband !=null and broadband !=''">broadband=#{broadband},</if>
	            <if test="broadbandSatisfy !=null and broadbandSatisfy !=''">broadbandSatisfy=#{broadbandSatisfy},</if>
	            isBroadbandFusion=#{isBroadbandFusion},
	            <if test="broadbandPrice !=null and broadbandPrice !=''">broadbandPrice=#{broadbandPrice},</if>
	            <if test="broadbandEndTime !=null and broadbandEndTime !=''">broadbandEndTime=#{broadbandEndTime},</if>
	            <if test="tv !=null and tv !=''">tv=#{tv},</if>
	            <if test="tvSatisfy !=null and tvSatisfy !=''">tvSatisfy=#{tvSatisfy},</if>
	            <if test="tvPrice !=null and tvPrice !=''">tvPrice=#{tvPrice},</if>
	            <if test="tvEndTime !=null and tvEndTime !=''">tvEndTime=#{tvEndTime},</if>
	            <if test="district_id !=null and district_id !=''">district_id=#{district_id},</if>
            </trim>
    	</set>
    	where id = #{id}
    </update>
    
    <delete id="deleteCustomerInfo" parameterType="int">
		update customer_info set isdelete=1 where id = #{id}
	</delete>
</mapper>
