<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.UserMapper">    
	<select id="findUserByName" resultType="com.crm.model.User">
		select * from sysuser where username = #{username} limit 0,1
	</select>
	
	<select id="getUsernameById" resultType="String">
		select username  from sysuser where id = #{id} 
	</select>
	
	<select id="getMenuByUserId" resultType="com.crm.model.SysMenu">
		SELECT m.id,m.name,m.parentid,m.iconCls,m.url,
			(SELECT COUNT(1) FROM sysmenu s WHERE s.parentId!=0 AND s.parentId=m.id) countChildrens 
		FROM sysmenu m
		  LEFT JOIN role_menu rm
		  ON m.id = rm.menu_id
		  LEFT JOIN sysuser u
		  ON rm.role_id = u.role_id 
		  WHERE m.enable=1 AND u.id = #{userId}
		  AND m.id NOT IN(
			SELECT tt.id
			FROM
				(SELECT m.id,
					(SELECT COUNT(parentId) FROM sysmenu sp WHERE sp.enable=1 AND sp.parentId=m.id AND m.parentId=0 ) countch
				 FROM sysmenu m WHERE m.parentId=0
		  		) tt 
		  	WHERE countch =0
		  )
	</select> 
	
	<select id="getDatagridTotal" resultType="long">
		select 
			count(1) 
		from sysuser u where isdelete=0 
		<if test="districtId != null and districtId != '' and districtId != 0">
            and district_id =#{districtId}
        </if>
        <if test="roleId != null and roleId != '' and roleId != 0 and roleId != 9999">
            and role_id =#{roleId}
        </if>
        <if test="roleId != null and roleId != ''  and roleId == 9999">
            and role_id =0
        </if>
        <if test="user.username != null and user.username != ''">
            and username like concat('%',#{user.username},'%')
        </if>
	</select>

	<select id="datagridUser"  resultType="com.crm.pojo.UserPojo">
		select u.id,u.username,u.password ,r.name roleName
		from sysuser u left join sysrole r on u.role_id = r.id where u.isdelete=0
		<if test="districtId != null and districtId != '' and districtId != 0">
            and district_id =#{districtId}
        </if>
        <if test="roleId != null and roleId != '' and roleId != 0 and roleId != 9999">
            and role_id =#{roleId}
        </if>
        <if test="roleId != null and roleId != ''  and roleId == 9999">
            and role_id =0
        </if>
        <if test="user.username != null and user.username != ''">
            and username like concat('%',#{user.username},'%')
        </if>
		<if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if>
        <if test="page.page > 0">
            limit #{page.start},#{page.end}
        </if>
	</select>
	
	<insert id="addUser" useGeneratedKeys="true" keyProperty="id">
		insert into sysuser(<trim suffixOverrides=",">
            <if test="username !=null and username !=''">username,</if>
            <if test="password !=null and password !=''">password,</if>
            <if test="district_id !=null and district_id !='' and district_id !=0">district_id,</if>
            <if test="role_id !=null and role_id !='' and role_id !=0 ">role_id</if>
            </trim>)values(<trim suffixOverrides=",">
            <if test="username !=null and username !=''">#{username},</if>
            <if test="password !=null and password !=''">#{password},</if>
            <if test="district_id !=null and district_id !='' and district_id !=0 ">#{district_id},</if>
            <if test="role_id !=null and role_id !='' and role_id !=0 ">#{role_id}</if>
            </trim>)
	</insert>
	
    <update id="editUser">
    	update sysuser
    	<set>
    		<if test="username !=null and username !=''">username =#{username},</if>
            <if test="password !=null and password !=''">password =#{password},</if>
            <if test="district_id !=null and district_id !='' and district_id !=0">district_id=#{district_id},</if>
            <if test="role_id !=null and role_id !='' and role_id !=0">role_id=#{role_id},</if>
    	</set>
    	where id = #{id}
    </update>
    
    <delete id="deleteUser" parameterType="int">
     	update sysuser set isdelete=1 where id=#{id}
	</delete>
	<!-- 权限列表 -->
	<select id="getRoleList"  resultType="com.crm.model.Role">
		select u.id,u.name roleName from sysrole u 
	</select>
</mapper>
